
body{
    margin:0 auto;
    height: 100%;
    font-family: Calibri, sans-serif;
    background-color: #fffdfd;
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #003f91;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}
.logo img{
    padding: 20px 20px 20px 20px;
}
.navbar{
    overflow: hidden;
    padding-right: 30px;
    padding-top: 43px;
}
.navbar a{
    float: right;
    padding: 15px 20px 20px 0px;
    color: #E5F4E3;
    text-decoration: none;
}

.principal{
    padding: 300px 100px;
}

.texto{
    padding: 20px 40px 20px 40px;
}
hr{
    background-color: #F2542D;
    height: 1px;
    border: none;
}
p{
    padding: 0px 20px 0px 20px;
}
.dados{
    display: inline-block;
    padding-left: 65px;
}
.tabela{
    display: inline-block;
}
iframe{
    padding: 10px 20px 10px 20px;
}
footer{
    text-align: center;
}
.fotos{
    padding: 30px 50px 30px 60px;
}
.fotos img{
    width: 300px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}
.card{
    color:rgb(20, 20, 20);
    background-color: #d6d7d8;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(80, 80, 80);
    padding: 20px;
    width: 270px;
    text-align: center;
}
.card:hover{
    background-color: #e3e3e4;
}
.abertura{
    padding: 50px 0px 30px 0px;
}
.restaurantes{
    display: block;
    padding: 20px;
}

@media screen {
    
}