body{
    margin:0 auto;
    height: 100%;
    font-family: Calibri, sans-serif;
    background-color: #fffdfd;
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}
.logo img{
    padding: 20px 20px 20px 20px;
}
.navbar{
    overflow: hidden;
    padding-right: 30px;
    padding-top: 43px;
}
.navbar a{
    float: right;
    padding: 15px 20px 20px 0px;
    color: #E5F4E3;
    text-decoration: none;
}

header:hover{
    background-color: #003f91;
    transition-duration: 0.5s;
}

.teste{
    background-image: url(../img/principal.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.principal{
    padding: 300px 100px;
}
